<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <!-- 注释扫描路径 -->
    <context:component-scan base-package="com" />
    <!-- 事务管理使用注释 -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    <!-- 使用GBLIB，基于类创建代理对象，用于业务层事务 -->
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <!-- 验证登录拦截器 -->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash; 默认拦截所有请求 &ndash;&gt;-->
            <!--<mvc:mapping path="/**" />-->
            <!--<mvc:exclude-mapping path="/index" />-->
            <!--<mvc:exclude-mapping path="/public/**" />-->
            <!--<mvc:exclude-mapping path="/front/**" />-->
            <!--<mvc:exclude-mapping path="/loginPost" />-->
            <!--<mvc:exclude-mapping path="/error" />-->
            <!--<bean class="com.AuthorityInterceptor"></bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
    <!-- SpringMVC使用注释 -->
    <mvc:annotation-driven >
        <mvc:message-converters register-defaults="true">
            <!-- 解决@ResponseBody中文乱码 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
                <property name="writeAcceptCharset" value="false" />
                <property name="defaultCharset" value="UTF-8" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- 基于容器过滤静态资源请求 -->
    <mvc:default-servlet-handler />
    <!-- 定时任务使用注释 -->
    <task:annotation-driven />

    <!-- 数据源 -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/SOAHotel_java?createDatabaseIfNotExist=true&amp;useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;characterSetResults=utf8"></property>
    </bean>
    <!-- 基于数据源与持久化配置创建实体管理器  -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:../persistence.xml" />
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"></property>
    </bean>
    <!-- SpringMVC -->
    <bean id="jspViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- 根目录定向，设置web.xml welcome为空，定向view-name对应的视图名称，无需controller -->
    <mvc:view-controller path="/" view-name="/index" />


    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <!-- 上传文件的最大值，单位字节，默认-1，无限制，50MB -->
        <property name="maxUploadSize" value="52428800" />
        <!-- 内存占用最大值，默认10240，5MB -->
        <property name="maxInMemorySize" value="5242880"></property>
        <!-- 临时文件目录，默认为Web容器默认临时目录 -->
        <property name="uploadTempDir" value="WEB-INF/upload/temp" />
        <!-- 请求编码格式 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 延迟文件解析，可用于判断文件大小、获取名称等操作 -->
        <property name="resolveLazily" value="true" />
    </bean>

    <!-- 声明方法支持使用校验注释 -->
    <bean
            class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"></bean>
</beans>